
<div
  class="container d-flex vh-100 justify-content-center align-items-center"
>
  <div
    class="card"
    style="width: 25rem;"
  >
    <div class="card-header">
      <h2 class="text-center m-0">
        <i class="bi bi-person-fill"></i>
        Login
      </h2>
    </div>

    <div class="card-body mt-3">
      <form name="login">
        <div class="d-flex gap-3 flex-column">
          <div>
            <label
              for="email_address"
              class="form-label"
            >
              Email address
            </label>
            <input
              type="email"
              name="email_address"
              class="form-control"
              id="email_address"
              autocomplete="off"
              />
          </div>

          <div>
            <label
              for="password"
              class="form-label"
            >
              Password
            </label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              />
          </div>

<!--          <div class="form-check3">-->
<!--            <input-->
<!--              type="checkbox"-->
<!--              class="form-check-input"-->
<!--              name="remember"-->
<!--              id="remember"-->
<!--              />-->
<!--            <label-->
<!--              class="form-check-label"-->
<!--              for="remember"-->
<!--            >-->
<!--              Remember me for 7 days-->
<!--            </label>-->
<!--          </div>-->

<!--          <input-->
<!--            name="redirect"-->
<!--            hidden="true"-->
<!--            />-->

          <div class="mt-4">
            <button
              class="btn btn-primary w-100"
              type="submit"
            >
              Login
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        // const queryString = window.location.search;
        // const urlParams = new URLSearchParams(queryString);
        // const redirectNode = document.querySelector("input[name='redirect']");
        // if (urlParams.get("to")) {
        //     redirectNode.value = urlParams.get("to");
        //
        //     console.log("set value");
        // }

        ezForm({
            formName: "login",
            fields: [
                {
                    name: "email_address",
                    validator: (val) => {
                        const emailPattern =
                            /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
                        if (!emailPattern.test(val)) {
                            return "Email is not valid";
                        }
                    },
                },
                {
                    name: "password",
                    validator: (val, node) => {
                        const passwordPattern = /^(?=.*[A-Z])(?=.*\d).{8,}$/;
                        if (!passwordPattern.test(val)) {
                            return "Password must contain at least one uppercase letter, one number, and be at least 8 characters long";
                        }
                    },
                },
                // {
                //     name: "remember",
                //     formatValue: (val, node) => {
                //         return node.checked;
                //     },
                // },

                // {
                //     name: "redirect",
                // },
            ],
            async onSubmit(data, resetSubmit) {
                const res = await fetch("/session", {
                    method: "POST",
                    headers: { "content-type": "application/json" },
                    body: JSON.stringify(data),
                });

                if (res.ok) {
                    const json = await res.json();
                    window.location = json?.location;
                } else {
                    const json = await res.json();
                    if (!res.ok) {
                        launchModal({
                            title: '<i class="bi bi-exclamation-triangle-fill"></i> Error',
                            theme: "danger",
                            allowClose: true,
                            body:
                                json?.errorMessage || "An Error occured, please try again.",
                        });
                        resetSubmit();
                    }
                }
            },
        });
    });
</script>
